<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Router Informations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='style/icon.png') }}" type="image/png">
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
  </head>
  <body>
    
    <header>
      <h1>Internet Creator v0.9.1_beta</h1>
    </header>

    <div class="logo-container">
      <img src="{{ url_for('static', filename='style/logo.svg') }}" alt="Logo">
    </div>

    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Topology</a></li>
        <li><a href="{{ url_for('setup') }}">Setup</a></li>
        <li><a href="{{ url_for('creator') }}">Creator</a></li>
        <li><a href="{{ url_for('ping_test') }}">Ping Test</a></li>
        <li><a href="{{ url_for('show_infos') }}">Router Infos</a></li>
        <li><a href="{{ url_for('backup_restore') }}">Backup/Restore</a></li>
        <li><a href="{{ url_for('upgrade') }}">Upgrade</a></li>
        <li><a href="{{ url_for('general') }}">General</a></li>
      </ul>
    </nav>
    
    <h2 class="site-titel">Router Informations</h2>
    
    <div class="wrapper2">
    <main>
      <form method="post" class="form-container-out">
          <label for="Provider">Provider:</label>
          <input type="text" name="Provider" value="{{ config.get('Provider', '') }}"><br>
          
          <label for="Router">Router:</label>
          <input type="text" name="Router" value="{{ config.get('Router', '') }}"><br>

          <button type="submit">Show Infos</button>
      </form>
    </main>
    
    <section id="field">
      <h3 style="word-spacing: 20px;">Configuration Routes Rules ARP IPs Interfaces VRF</h3>
      <pre id="output"></pre>
    </section>

    <script type="text/javascript">
      const socket = io.connect();

      socket.on('show_infos_output', function(msg) {
        // Neue Zeile zur Ausgabe hinzufügen
        const outputElement = document.getElementById('output');
        outputElement.innerText += msg.data + '\n';

        // Automatisch nach unten scrollen
        outputElement.scrollTop = outputElement.scrollHeight;
      });
    </script>
    </div>

    <div id="notification0" class="notification0">
      <span id="notification0-message"></span>
    </div>

    <script>
      function shownotification0(message, category) {
        const notification0 = document.getElementById('notification0');
        const notification0Message = document.getElementById('notification0-message');
    
        notification0Message.textContent = message;
        notification0.className = `notification0 show ${category}`;
    
        notification0.style.display = 'flex';
    
        setTimeout(() => {
          notification0.classList.remove('show');
          setTimeout(() => {
            notification0.style.display = 'none';
          }, 500);
        }, 7000);
      }
    
      document.addEventListener('DOMContentLoaded', () => {
        const messages = JSON.parse('{{ get_flashed_messages(with_categories=true) | tojson | safe }}');
    
        if (messages.length > 0) {
          messages.forEach(([category, message]) => {
            shownotification0(message, category);
          });
        } else {
          document.getElementById('notification0').style.display = 'none';
        }
      });
    </script>

    <footer>
      <p></p>
    </footer>
  </body>
</html> 
